* {
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

body {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.ham {
  display: block;
  padding: 5px;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  display: block;
  width: 35px;
  height: 4px;
  margin-bottom: 5px;
  margin-left: 5%;
  margin-top: 5px;
  background-color: #272a31;
  transition: 0.01s;
}

.change .bar1 {
  transform: rotate(45deg) translate(9px, 3px);
  background-color: #ec5242;
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(-45deg) translate(9px, -3px);
  background-color: #ec5242;
}

.user-mod-container .user-mod {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #272a31;
  list-style: none;
}
.user-mod-container .user-mod img {
  width: 1rem;
  height: 1rem;
}
.user-mod-container .user-mod .logout {
  padding-right: 5%;
}
.user-mod-container .navbar {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #272a31;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  color: #272a31;
}
main h2 {
  order: -1;
  color: #ec5242;
  margin-bottom: 0;
  font-size: 1.1rem;
}
main h1 {
  color: #ec5242;
  margin-top: 0;
  font-weight: 700;
  font-family: "COCOGOOSE", sans-serif;
}
main p {
  font-size: 0.8rem;
  line-height: 1.5rem;
  margin-top: 0;
}
main h3 {
  font-family: "COCOGOOSE", sans-serif;
  margin-bottom: 0;
}
main .place {
  font-size: 1rem;
}
main .mini-nav {
  display: none;
}

.about-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #272a31;
  width: 90%;
  text-align: center;
  background-color: #d3d3d3;
}
.about-main h2 {
  order: -1;
  color: #ec5242;
  margin-bottom: 1em;
  font-size: 1.1rem;
}
.about-main h1 {
  color: #ec5242;
  font-weight: 700;
  font-family: "COCOGOOSE", sans-serif;
  font-size: 1.6rem;
}
.about-main :nth-child(3) {
  background-color: #fff;
}
.about-main p {
  width: 90%;
}

.program-container {
  text-align: center;
  background: url(../css/images/about-bootcam/background.jpg);
  color: #fff;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
.program-container div h3 {
  margin-top: 0;
}
.program-container hr {
  max-width: 2.5em;
  border: none;
  height: 1px;
  background-color: #ec5242;
}
.program-container a {
  display: none;
}
.program-container button {
  background-color: #ec5242;
  padding: 1em 1.5em;
}

.program article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  background-color: #272a31;
}

.program img {
  width: 3rem;
  height: 3rem;
}

.program h4 {
  color: #ec5242;
}

.instructors {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.instructors div h3 {
  margin-bottom: 0;
}
.instructors div hr {
  display: block;
  max-width: 2em;
  background-color: #ec5242;
  height: 1px;
  border: none;
}
.instructors img {
  height: 10rem;
  width: 100%;
}
.instructors hr {
  display: none;
}

.instructor {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 20px;
}
.instructor div hr {
  background-color: #d3d3d3;
  margin-left: 0;
}
.instructor div .position {
  color: #ec5242;
}

aside {
  display: none;
}

footer {
  display: none;
}

.logo-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #272a31;
  text-align: center;
}
.logo-info h2 {
  margin: 2em 2em 0.3em 2em;
}
.logo-info hr {
  min-width: 2em;
  border: none;
  height: 1px;
  background-color: #ec5242;
}
.logo-info p {
  width: 90%;
  margin-bottom: 2rem;
}
.logo-info img {
  margin-top: 0;
}

.about-years {
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 90%;
}
.about-years .about-years-imgs {
  width: 80%;
  margin: 0 auto;
}
.about-years img {
  margin-bottom: 1em;
}

.about-partners {
  color: #fff;
  display: block;
  text-align: center;
  padding: 1em;
  background-color: #272a31;
}
.about-partners h3 {
  margin-bottom: 2em;
}

.partners-list {
  padding: 1em;
  flex: 0 0 calc(16.66% - 20px);
  background-color: #272a31;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3.4em;
}
.partners-list img {
  width: 3em;
  height: 3em;
}

.about-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.about-footer img {
  width: 10em;
  height: 10em;
}
.about-footer .rights p {
  margin: 0.3em auto;
}

@media (min-width: 768px) {
  .ham {
    display: none;
  }

  .user-mod-container .user-mod {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    background-color: #272a31;
    color: #fff;
    list-style: none;
    margin: 0 auto;
  }
  .user-mod-container .user-mod li {
    margin: 0 10px;
  }
  .user-mod-container .user-mod img {
    width: 1rem;
    height: 1rem;
  }
  .user-mod-container .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0 auto;
  }
  .user-mod-container .navbar img {
    width: 8rem;
    height: 4rem;
  }
  .user-mod-container .navbar li a {
    text-decoration: none;
    color: #272a31;
  }
  .user-mod-container .navbar :first-child {
    margin-right: 25%;
  }
  .user-mod-container .navbar .campaign {
    border: 3px solid #ec5242;
    padding: 1rem;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    color: #272a31;
    margin: 0 auto;
    background-color: #d3d3d3;
  }
  main h2 {
    margin-left: 6%;
  }
  main h1 {
    margin-left: 6%;
    max-width: 15em;
  }
  main p {
    font-size: 0.7rem;
    max-width: 30em;
    margin-left: 7%;
    border: 2px solid #fff;
  }
  main h3 {
    margin-left: 6%;
  }
  main .place {
    font-size: 0.9rem;
    border: none;
  }
  main .main-h2 {
    display: none;
  }
  main .main-first-p {
    max-width: 600px;
    margin-bottom: 5em;
    margin-top: 4em;
  }
  main .about-email {
    color: #272a31;
  }

  .about-main {
    margin-top: 5em;
  }

  .logo-info {
    margin-top: 5em;
  }
  .logo-info p {
    max-width: 35em;
  }
  .logo-info img {
    width: 20em;
    margin-bottom: 5em;
  }

  .about-years-imgs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }
  .about-years-imgs img {
    max-width: 20em;
    max-height: 10em;
  }

  .about-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #272a31;
    color: #fff;
    padding-top: 2em;
    padding-bottom: 2em;
  }
  .about-footer img {
    background-color: #fff;
    padding: 0;
    max-height: 5em;
  }

  .program-container button {
    display: none;
  }

  .program-container a {
    display: block;
    color: #fff;
    margin-top: 2em;
  }

  .program {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .program article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 190px;
    width: 150px;
    margin: 0;
    margin-right: 5px;
    padding: 0;
  }
  .program article p {
    margin: 0;
  }
  .program article h4 {
    margin: 1em auto;
  }
  .program article:hover {
    border: 1px solid #fff;
  }

  .instructors {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0 5%;
  }
  .instructors .intructors-title {
    grid-column: span 2;
    margin: 0 auto;
    padding: 2em 0;
  }
  .instructors div h3 {
    margin-bottom: 0;
  }
  .instructors div hr {
    display: block;
    max-width: 2em;
    background-color: #d3d3d3;
    height: 1px;
    border: none;
  }
  .instructors img {
    height: 9rem;
    width: 100%;
  }
  .instructors hr {
    display: none;
  }
  .instructors h5 {
    font-size: 1rem;
    margin-bottom: 5px;
    margin-top: 0;
  }
  .instructors .position {
    font-size: 0.7rem;
    margin-top: 0;
  }

  aside {
    display: block;
  }
  aside img, aside h3 {
    opacity: 50%;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%;
  }
  footer img {
    width: 200px;
  }
}/*# sourceMappingURL=style.css.map */